.favorite-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    min-width: 160px;
    gap: 20px;
    margin: 5px 10px;
}

.fa-trash-o {
    color: black;
    font-size: 10px;
}

.fa-trash-o:hover {
    font-size: 15px;
    color: red;
    cursor: pointer;
}

#favorite-container {
    background: rgb(0, 62, 48);
    color: white;
    padding-bottom: 5px;
}

#favorite-container>.title {
    background: black;
    padding: 5px;
    font-size: 18px;
}

.fav-pair-name:hover {
    color: yellow;
    cursor: pointer;
}