.trade.btn {
    background: rgb(82, 87, 82);
    color: white;
    margin-bottom: 10px;
    margin-right: 0;

}





.flex-space-btw {
    display: flex;
    align-items: center;
    margin: 5px auto;
    margin-left: 5px;
}

.flex-space-btw>input {
    width: 100%;
    min-width: 100px;

    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    padding-left: 5px;
    margin-right: 10px;
}

.input-label {
    min-width: 120px;
    margin-block: 0;
    display: flex;
    align-items: flex-end;
    height: 30px;
}

.buy.btn,
.sell.btn {
    color: white;
    background: gray;
}

.buy.btn.trade-position,
.sell.btn.trade-position {
    background: green;
}

.buy,
.sell {
    margin: 5px 10px;
    width: 100px;
}

.invalid {
    border: 1.5px solid red;
}

.sl-tp span {
    font-size: 12px;
    margin: auto 2px 2px
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.market,
.entry {
    margin: 0;
    padding: 2px 5px;
}

.order {
    width: 100%;
    background: black;
    padding: 5px 0;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 100%;
    font-size: 18px;
    color: white
}

.submit-btn-container {
    display: flex;
    justify-content: center;
}

.submit.btn {
    background: green;
    color: white;
    padding: 0;
    margin: 10px;
    border: 5px;
    width: 50%;
}

.submit.btn:hover {
    background: green;
}

.position {
    background: rgb(239, 236, 236);
    max-width: 360px;
    border-radius: 5px;
    margin: auto;
}

.trade-position {
    background: green;
}