.instrument-div {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.return-arrow {
    font-size: 20px;
    text-align: left;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.return-arrow>a {
    text-decoration: none;
    color: black;
}

.fa-chevron-left {
    padding: 5px 10px;
    margin: 4px;
}

.fa-chevron-left:hover {
    background: rgba(211, 211, 211, 0.309);
}

@media(max-width: 700px) {
    .instrument-div {
        flex-direction: column;
        min-width: 350px;
    }

    .instrument-div>div {
        min-width: 350px;
        width: 100%;
    }
}

@media(max-height: 400px) {
    .instrument-div {
        flex-direction: column;
    }
}