#terms {
    display: none;
    flex-direction: row;
}

#checkbox {
    margin-right: 10px;
}

strong {
    text-decoration: underline;
    cursor: pointer;
}

.left.active-tab {
    border-top-left-radius: 30px;
}