#trades {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

@media(max-width: 500px) {
    #trades {
        flex-direction: column-reverse;
        gap: 10px;
    }
}