#trades {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    max-width: 1200px;
    margin: auto;
}

#active-trades {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    color: red; */
}