.fx-pair {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 5px 10px;
    border-bottom: 1px solid lightgrey;
    text-decoration: none;
    color: black;
    gap: 20px;
}

.fx-pair>* {
    width: 80px;

}

h6 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

a.fx-pair:hover {
    background: black;
    color: white
}

.fx-pair.header {
    /* padding: 0 20px; */
    height: 35px;
}

.bullish {
    color: rgb(12, 192, 3)
}

.bearish {
    color: red
}

.link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 0;
}

.pair-name:hover {
    color: darkgreen
}

.home-price-detail {
    margin: 25px auto;
    max-width: 1000px;
}

@media(max-width:450px) {
    .volume {
        display: none;
    }

    .home-price-detail {
        width: 95%;
    }

    .fx-pair {
        gap: 52px;
        width: 100%;
        padding: 5px 0;
    }
}