.navbar {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>a {
    text-decoration: none;
    margin: 0 10px;
    color: rgb(76, 76, 76);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

}

.navbar>a:hover {
    background: black;
    color: white;
}